.env/
*/**/__pycache__/
.vscode/
*/*/__pycache__/
*/*.pyc
*/**/*.pyc

api/lager.db
example_json.txt
softwaredd/softwaredd/__pycache__/*
backup/lagerdb/
backup/userdb/
softwaredd/.DS_Store
softwaredd/.DS_Store
