<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'index-view' %}">Home</a>
    
    <a href="{% url 'login-view' %}">Login</a>
    <a href="{% url 'create-user-view' %}">Nutzer erstellen</a>
    <a href="{% url 'list-employee-view' %}">Nutzer auflisten</a>
    {%block content%}
    {%endblock%}
</body>
</html>