body::-webkit-scrollbar {
    display: none;
}  

html {
    scrollbar-width: none;
    font-family: 'Times New Roman', Times, serif;
}  

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 70, 70);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 1.6em;
}

.active {
    background-color: #535353;
}

.header {
    height: 4em;
    position: relative
}

.heading {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 1%; /* Location of the box */
	padding-bottom: 1%;
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	width: 95%;
	height: auto;
	display: block;
    margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.divHtml {
  border: 5px solid lightgrey;
  margin: 1%;
  width: 70%;
}

img {
    width: 90%;
    height: 100%;
}

.phase5text {
    font-family: 'Times New Roman', Times, serif; 
    background-color: rgb(238, 238, 238);
    border: 5px solid lightgrey;
    margin: 1%;
    padding: 1%;
}